@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$font-family-primary: 'Montserrat', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600; 

// Typography styles
h1 {
  color: #373737;
  font-weight: 600;
} 